{#
/**
 * @file
 * Template for the featured resources list.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - heading: Optional heading text for the list.
 * - items: List of resource items, each with:
 *   - title: The resource title (string).
 *   - url: The resource URL (string).
 */
#}
<div{{ attributes }}>
  {% if heading %}
    <h2 class="featured-resources__heading">{{ heading }}</h2>
  {% endif %}
  {% if items %}
    <ul class="featured-resources__list">
      {% for item in items %}
        <li class="featured-resources__item">
          <a href="{{ item.url }}" class="featured-resources__link">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="featured-resources__empty">{{ 'No featured resources available.'|t }}</p>
  {% endif %}
</div>
